# API / 基础
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
httpx

# LLM / Agent / Workflow
langchain-openai
langgraph
openai-agents
openai

# Embedding / Rerank
sentence-transformers

# Storage
pymongo
pymilvus
minio

# Graph / Parsing
grandalf
mineru[all]
